.Container {
  position: relative;
  width: 100%;
  height: 100%;
}

.Result {
  padding: var(--offset-medium);
  font-size: var(--font-medium);
}

.ResultList {
  display: flex;

  .ResultItem {
    font-weight: bold;

    &:not(:first-child) {
      &::before {
        content: "---";
      }
    }

    &.Visited {
      color: var(--color-ok);
    }
  }
}

.Controls {
  display: flex;
  align-items: center;
}

.Button {
  width: 12rem;
  padding: var(--offset-small);
  background-color: var(--color-button);
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
  transition: ease-in-out var(--transition);
  cursor: pointer;

  &:not(:last-child) {
    margin-right: var(--offset-small);
  }

  &:hover {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.75);
  }
}

.Timeout {
  width: 10rem;
  padding: var(--offset-small);
  font-size: var(--font-medium);
}
