.Container {
  display: flex;
  justify-content: center;
}

.Canvas {
  height: 50vh;
  color: var(--color-background-focus);
  font-size: var(--font-medium);
  background-color: var(--color-label);
}
