.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  user-select: none;
}

.Canvas {
  height: 100vh;
  color: var(--color-background-focus);
  font-size: var(--font-medium);
  background-color: var(--color-label);
}
