.Container {
  position: absolute;
  z-index: 1;
  width: var(--offset-medium);
  height: var(--offset-medium);
  background-color: var(--color-background-focus);
  border-radius: 50%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
  transform: translate(-50%, -50%);
  transition: all var(--transition) ease-in-out;
  cursor: pointer;

  &:hover,
  &.Visited {
    width: var(--offset-large);
    height: var(--offset-large);
    background-color: var(--color-ok);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.75);

    .Label {
      width: var(--offset-large);
      height: var(--offset-large);
    }
  }

  &.WithMenu {
    z-index: 2;
  }

  &.Visited {
    .Label {
      color: var(--color-background-focus);
      font-weight: bold;
    }
  }
}

.Label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--offset-medium);
  height: var(--offset-medium);
  line-height: calc(var(--font-small) + 1px); // this aligns the character
  color: var(--color-ok);
  font-size: var(--font-small);
  transition: all var(--transition) ease-in-out;
}
